# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
*.xcuserstate
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
*.swp
*~

# IDEs
.idea/
.vscode/
*.code-workspace
